{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="lead">
    <div id="lead-content">
        <h1>OKA ÖWREN DÖRET</h1>
        <h2>Gelejegiň seniň eliňde</h2>
            <div class="education-block" style="border: none;">
                <p style="color: white;">
                    Bu sahypa size köp sanly 
                    programirleme dillerini ýokary derejeli 
                    mugt öwrenmäne mümkinçilik berýär.
                    Öýüňizde,işýerňizde online görnüşde öwrenip 
                    bilersiňiz we öz derejäňizi ýokarlandryp bilersiňiz.
                    Sahypada esasan 3 dilde wideo sapaklar ýerleşdirilen (Iňlis,Rus we Türk ) dillerde. 


                    
                </p>
            </div>
    </div>
        <div id="lead-overlay"></div>
    </div>

    <div id="experience" class="background-alt" style="border:1px solid white ;">
        <h2 class="heading">Sapaklar</h2>
        <div>
        <div id="experience-timeline" class="div">
            <table style="">
                <tr>
                    <td><a href= "Ruby"><button>Ruby</button></a></td>
                    <td><a href="Python"><button>Python</button></a></td>
                </tr>
                <tr>
                    <td><a href="Go"><button>Go</button></a></td>
                    <td><a href="Node"><button>Node.js</button></a></td>
                </tr>
                <tr>
                    <td><a href="Css"><button>Css</button></a></td>
                    <td><a href="Django"><button>Django</button></a></td>
                </tr>
                <tr>
                    <td><a href="React"><button>React</button></a></td>
                    <td><a href="Html"><button>Html</button></a></td>
                </tr>
                <tr>
                    <td><a href="Java"><button>Java</button></a></td>
                    <td><a href="C"><button>C</button></a></td>
                </tr>
                <tr>
                    <td><a href="Csharp"><button>C#</button></a></td>
                    <td><a href="C_pluse"><button>C++</button></a></td>
                </tr>
                <tr>
                    <td><a href="Flutter"><button>Flutter</button></a></td>
                    <td><a href="Javascript"><button>JavaScript</button></a></td>
                </tr>
                </table>
        </div>
    </div>
    </div>

    <div id="projects" class="background-alt">
        <h2 class="heading">Proýektlar</h2>
        <div class="container">
            <div class="row">
                <div class="project shadow-large" style="height: 250px; border: 1px solid #3498db;">
                    <div class="project-image">
                        <img src="{%static 'images/ruby.jpg'%}" style="height: 130px;width: 130px;margin: 50px;">
                    </div>
                    <div class="project-info">
                        <h3>Ruby bilen ýönekeýje proýektlar</h3>
                        <p>
                           Ruby sapaklaryny doly öwrenip dynanyňyzdan son öz derejänizi öňkidenem ýokarlandrmak üçin proyectlar
                        </p>
                        <a href="Ruby_Project"><button>Gir>></button></a>
                    </div>
                </div>
                <div class="project shadow-large" style="height: 250px; border: 1px solid #3498db;">
                    <div class="project-image">
                        <img src="{%static 'images/go2.jpg'%}" style="height: 200px;width: 200px;margin: 25px;">
                    </div>
                    <div class="project-info">
                        <h3>Go bilen ýönekeýje proýektlar</h3>
                        <p>
                            Go sapaklaryny doly öwrenip dynanyňyzdan son öz derejänizi öňkidenem ýokarlandrmak üçin proyectlar
                        </p>
                        <a href="Go_Project"><button>Gir>></button></a>
                    </div>
                </div>
                <div class="project shadow-large" style="height: 250px; border: 1px solid #3498db;">
                    <div class="project-image">
                        <img src="{%static 'images/css.png'%}" style="height: 170px;width: 170px;margin: 30px;">
                    </div>
                    <div class="project-info">
                        <h3>Css bilen ýönekeýje proýektlar</h3>
                        <p>
                            Csssapaklaryny doly öwrenip dynanyňyzdan son öz derejänizi öňkidenem ýokarlandrmak üçin proyectlar
                        </p>
                        <a href="Css_Project"><button>Gir>></button></a>
                    </div>
                </div>
                <div class="project shadow-large" style="height: 250px; border: 1px solid #3498db;">
                    <div class="project-image">
                        <img src="{%static 'images/react2.jpg'%}" style="height: 170px;width: 170px;margin: 30px;">
                    </div>
                    <div class="project-info">
                        <h3>React bilen ýönekeýje proýektlar</h3>
                        <p>
                            React sapaklaryny doly öwrenip dynanyňyzdan son öz derejänizi öňkidenem ýokarlandrmak üçin proyectlar
                        </p>
                        <a href="React_Project"><button>Gir>></button></a>
                    </div>
                </div>
                <div class="project shadow-large" style="height: 250px; border: 1px solid #3498db;">
                    <div class="project-image">
                        <img src="{%static 'images/java.jpg'%}" style="height: 170px;width: 170px;margin: 30px;">
                    </div>
                    <div class="project-info">
                        <h3>Java bilen ýönekeýje proýektlar</h3>
                        <p>
                            Java sapaklaryny doly öwrenip dynanyňyzdan son öz derejänizi öňkidenem ýokarlandrmak üçin proyectlar
                        </p>
                        <a href="Java_Project"><button>Gir>></button></a>
                    </div>
                </div>
                <div class="project shadow-large" style="height: 250px; border: 1px solid #3498db;">
                    <div class="project-image">
                        <img src="{%static 'images/csharp2.jpg'%}" style="height: 200px;width: 200px;margin: 30px;">
                    </div>
                    <div class="project-info">
                        <h3>C# bilen ýönekeýje proýektlar</h3>
                        <p>
                            C# sapaklaryny doly öwrenip dynanyňyzdan son öz derejänizi öňkidenem ýokarlandrmak üçin proyectlar
                        </p>
                        <a href="C_sharp_Project"><button>Gir>></button></a>
                    </div>
                </div>
                <div class="project shadow-large" style="height: 250px; border: 1px solid #3498db;">
                    <div class="project-image">
                        <img src="{%static 'images/flutter.png'%}" style="height: 170px;width: 170px;margin: 30px;">
                    </div>
                    <div class="project-info">
                        <h3>Flutter bilen ýönekeýje proýektlar</h3>
                        <p>
                            Flutter sapaklaryny doly öwrenip dynanyňyzdan son öz derejänizi öňkidenem ýokarlandrmak üçin proyectlar
                        </p>
                        <a href="Flutter_Project"><button>Gir>></button></a>
                    </div>
                </div>
                <div class="project shadow-large" style="height: 250px; border: 1px solid #3498db;">
                    <div class="project-image">
                        <img src="{%static 'images/python2.jpg'%}" style="height: 170px;width: 170px;margin: 30px;">
                    </div>
                    <div class="project-info">
                        <h3>Python bilen ýönekeýje proýektlar</h3>
                        <p>
                            Python sapaklaryny doly öwrenip dynanyňyzdan son öz derejänizi öňkidenem ýokarlandrmak üçin proyectlar
                        </p>
                        <a href="Python_Project"><button>Gir>></button></a>
                    </div>
                </div>
                <div class="project shadow-large" style="height: 250px; border: 1px solid #3498db;">
                    <div class="project-image">
                        <img src="{%static 'images/nodejs2.jpg'%}" style="height: 170px;width: 170px;margin: 30px;">
                    </div>
                    <div class="project-info">
                        <h3>Node JS bilen ýönekeýje proýektlar</h3>
                        <p>
                            Node JS sapaklaryny doly öwrenip dynanyňyzdan son öz derejänizi öňkidenem ýokarlandrmak üçin proyectlar
                        </p>
                        <a href="Node_Project"><button>Gir>></button></a>
                    </div>
                </div>
                <div class="project shadow-large" style="height: 250px; border: 1px solid #3498db;">
                    <div class="project-image">
                        <img src="{%static 'images/django2.jpg'%}" style="height: 170px;width: 170px;margin: 30px;">
                    </div>
                    <div class="project-info">
                        <h3>Django bilen ýönekeýje proýektlar</h3>
                        <p>
                            Django sapaklaryny doly öwrenip dynanyňyzdan son öz derejänizi öňkidenem ýokarlandrmak üçin proyectlar
                        </p>
                        <a href="Django_Project"><button>Gir>></button></a>
                    </div>
                </div>
                <div class="project shadow-large" style="height: 250px; border: 1px solid #3498db;">
                    <div class="project-image">
                        <img src="{%static 'images/html.png'%}" style="height: 170px;width: 170px;margin: 30px;margin-left: 30px;">
                    </div>
                    <div class="project-info">
                        <h3>HTML bilen ýönekeýje proýektlar</h3>
                        <p>
                            HTML sapaklaryny doly öwrenip dynanyňyzdan son öz derejänizi öňkidenem ýokarlandrmak üçin proyectlar
                        </p>
                        <a href="Html_Project"><button>Gir>></button></a>
                    </div>
                </div>
                <div class="project shadow-large" style="height: 250px; border: 1px solid #3498db;">
                    <div class="project-image">
                        <img src="{%static 'images/c2.jpg'%}" style="height: 150px;width: 150px;margin: 40px;">
                    </div>
                    <div class="project-info">
                        <h3>C bilen ýönekeýje proýektlar</h3>
                        <p>
                            C sapaklaryny doly öwrenip dynanyňyzdan son öz derejänizi öňkidenem ýokarlandrmak üçin proyectlar
                        </p>
                        <a href="C_Project"><button>Gir>></button></a>
                    </div>
                </div>
                <div class="project shadow-large" style="height: 250px; border: 1px solid #3498db;">
                    <div class="project-image">
                        <img src="{%static 'images/c++2.jpg'%}" style="height: 150px;width: 150px;margin: 40px;">
                    </div>
                    <div class="project-info">
                        <h3>C++ bilen ýönekeýje proýektlar</h3>
                        <p>
                            C++ sapaklaryny doly öwrenip dynanyňyzdan son öz derejänizi öňkidenem ýokarlandrmak üçin proyectlar
                        </p>
                        <a href="C_pluse_Project"><button>Gir>></button></a>
                    </div>
                </div>
                <div class="project shadow-large" style="height: 250px; border: 1px solid #3498db;">
                    <div class="project-image">
                        <img src="{%static 'images/script2.jpg'%}" style="height: 170px;width: 170px;margin: 30px;">
                    </div>
                    <div class="project-info">
                        <h3>JavaScript bilen ýönekeýje proýektlar</h3>
                        <p>
                            JavaScript sapaklaryny doly öwrenip dynanyňyzdan son öz derejänizi öňkidenem ýokarlandrmak üçin proyectlar
                        </p>
                        <a href="Javascript_Project"><button>Gir>></button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="education" class="background-alt" style="border:1px solid white ;">
        <h2 class="heading">Ylymyň merkezi</h2>
        <div>
        <div id="experience-timeline" class="div">
            <div class="education-block" style="border-color: white;">
                <h3>Türkmenistanyň Oguzhan adyndaky Inžener-tehnologiýalar uniwersiteti
                </h3>
                <h4>Türkmenistanyň Oguzhan adyndaky Inžener-tehnologiýalar uniwersitetiniň
                     Kompýuter ylymlary we maglumat tehnologiýalary fakultetiniň gurnakçylary 
                     Atagulyýew Suwhan we Çaryýew Nurly tarapyndan.</h4>
        </div>
    </div>
    </div>


    <script src="{%static 'https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'%}"></script>
    <script src="{%static 'js/scripts.min.js%'%}"></script>
    <script src="{%static 'js/scripts.js%'%}"></script>

</body>
</html>
{% endblock %}
